# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bhnaoslidrgpoelkexrz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJobmFvc2xpZHJncG9lbGtleHJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NTc3OTEsImV4cCI6MjA5NzUzMzc5MX0.LS8UWroKU4rnqKMLhINx-D9TS2MfcqDwoZVSR1h7QnU
